<div class="task" [ngClass]="getPriority(task)" [class.done]="task.isDone">
  <input
    type="checkbox"
    [(ngModel)]="task.isDone"
    (change)="onToggleDone(task)"
  />

  <div>
    <h3>{{ task.text }}</h3>
    <div class="date">
      <p class="due">Due: {{ task.dueDate | date : "MMM dd',' hh:mm a" }}</p>
      <p class="added">
        Added: {{ task.dateAdded | date : "MMM dd',' hh:mm a" }}
      </p>
    </div>
  </div>

  @if(!task.isDone) {
  <div class="column">
    <fa-icon
      [icon]="faPenToSquare"
      (click)="toggleShowEditForm(task)"
      class="edit"
    ></fa-icon>
    <fa-icon [icon]="faTrash" (click)="onDelete(task)" class="delete"></fa-icon>
  </div>
  }
</div>

@if (showEditForm) {
<app-task-form
  [isEditForm]="true"
  [id]="task.id"
  [textVal]="task.text"
  [dateAdded]="task.dateAdded"
  [dueDate]="task.dueDate"
  [priority]="task.priority"
  (onEditTask)="onEdit($event)"
></app-task-form>
}
