.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  align-items: center;
}

.task.high {
  border-left: 5px solid red;
}

.task.mid {
  border-left: 5px solid blue;
}

.task.low {
  border-left: 5px solid yellow;
}

.task h3 {
  display: flex;
  justify-content: space-between;
}

.task.done {
  opacity: 0.5;

  h3 {
    text-decoration: line-through;
  }
}

.task input {
  width: 20px;
  height: 20px;
}

.edit {
  display: flex;
  flex-direction: column;
}