<div class="task" [ngClass]="getPriority(task)" [class.done]="task.isDone">
    <input type="checkbox" [(ngModel)]="isDone" (change)="onToggleDone(task)" [checked]="task.isDone">
    <div>
        <h3>{{task.text}}</h3>
        <p>{{task.dueDate | date: "MMM dd, yyyy 'at' hh:mm a"}}</p>
    </div>
    @if(!task.isDone) {
    <div class="column">
        <fa-icon [icon]="faTrash" (click)="onDelete(task)"></fa-icon>
        <fa-icon [icon]="faPenToSquare" (click)="toggleShowEditForm(task)"></fa-icon>
    </div>
    }
</div>

@if (showEditForm) {
<app-task-form [isEditForm]="true" [id]="task.id" [textVal]="task.text" [dateAdded]="task.dateAdded"
    (onEditTask)="onEdit($event)"></app-task-form>
}