<div class="task" [class.done]="task.isDone">
  <input
    type="checkbox"
    [(ngModel)]="task.isDone"
    (change)="onToggleDone(task)"
  />

  <div>
    <div class="row">
      <p>{{ task.text }}</p>
      <fa-icon
        [icon]="faFontAwesomeFlag"
        [ngStyle]="{ color: getColorPriority(task.priority) }"
        [title]="getPriority(task.priority)"
      ></fa-icon>
    </div>
    <div class="date row">
      <p [ngClass]="isDueLater(task.dueDate)">
        Due: {{ formatDueDate(task.dueDate) }}
      </p>
      <p class="added">
        Added: {{ task.dateAdded | date : "MMM dd',' hh:mm a" }}
      </p>
    </div>
  </div>

  @if(!task.isDone) {
  <div class="column">
    <fa-icon
      [icon]="faPenToSquare"
      (click)="toggleShowEditForm(task)"
      class="edit"
    ></fa-icon>
    <fa-icon [icon]="faTrash" (click)="onDelete(task)" class="delete"></fa-icon>
  </div>
  }
</div>

@if (showEditForm) {
<app-task-form
  [isEditForm]="true"
  [id]="task.id"
  [textVal]="task.text"
  [dateAdded]="task.dateAdded"
  [dueDate]="task.dueDate"
  [priority]="task.priority"
  (onEditTask)="onEdit($event)"
></app-task-form>
}
