.task {
  background: #f9f9f9;
  margin: 10px 5px;
  padding: 12px 10px 12px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.3fr 5fr 0.25fr;
  align-items: center;
  justify-content: center;
}

.task.high {
  border-left: 7px solid red;
}

.task.mid {
  border-left: 7px solid green;
}

.task.low {
  border-left: 7px solid yellow;
}

.task h3 {
  display: flex;
  justify-content: space-between;
}

.task.done {
  opacity: 0.5;

  h3 {
    text-decoration: line-through;
  }
}

.task input {
  width: 20px;
  height: 20px;
}

.date {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0.75rem;

  p.due {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: red;
    background-color: #f8d7da;
  }

  p.added {
    border: 1px solid gray;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: #333;
  }
}

.edit:hover {
  color: green;
}

.delete:hover {
  color: red;
}
